{% extends "base.html" %}

{% block app_content %}
    <h3>Volume Data</h3>
    {{ volSerialNumber }} <br>
    {{ volName }} <br>

    <div class="container">
        <h4>File list</h4>
        <table class="table table-striped">
          <thead>
            <tr>
                <th>index</th>
                {% for header in disk_files[0] %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for file in disk_files[1:] %}
                <tr>
                    <td>{{ loop.index }}</td>
                    {% for element in file %}
                        <td>{{ element }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
{% endblock %}
